{% extends 'main.html' %}

{% block content %}

<h1></h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div><label for="{{ form.name.id_for_label }}">Jméno místnosti</label><br>
        {{ form.name }}</div>
        <strong>{{ form.name.errors }}</strong>
    <div><label for="{{ form.description.id_for_label }}">Popis místnosti</label><br>
        {{ form.description }}</div>
    <strong>{{ form.description.errors }}</strong>
        <input type="submit" value="Odeslat">
</form>

{% endblock %}